[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/jre
Environment=CATALINA_PID="<%= @node['tomcat']['homedir'] %>/temp/tomcat.pid"
Environment=CATALINA_HOME="<%= @node['tomcat']['homedir'] %>"
Environment=CATALINA_BASE="<%= @node['tomcat']['homedir'] %>"
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart="<%= @node['tomcat']['homedir'] %>/bin/startup.sh"
ExecStop=/bin/kill -15 $MAINPID

User="<%= @node['tomcat']['user'] %>"
Group="<%= @node['tomcat']['group'] %>"

[Install]
WantedBy=multi-user.target

